.element__wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
    border: 1px solid teal;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    height: 30px;
    
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.element__wrapper:hover {
    background-color: teal;
}